APIKEY=YourAPIKey
APISECRET=YourAPISecret
REDIRECTURL=https://www.google.com/
TOTPKEY=YourTOTPKey
USERID=YourUserID
PASSWORD=YourPassword
STOCKS=stock1,stock2,stock3,...
EMAIL_ADDRESS=YourEmail
EMAIL_PASSWORD=YourEmailPassword_16char_app_password-not_regular_password
TO_EMAIL=YourToEmail
FILEPATH=filePath_to_store_downloaded_files
DIGITALOCEAN_KEY_ID = YourDigitalOceanKeyID
DIGITALOCEAN_KEY_SECRET = YourDigitalOceanKeySecret
DIGITALOCEAN_REGION = YourDigitalOceanRegion
DIGITALOCEAN_ENDPOINT = YourDigitalOceanEndpoint
DIGITALOCEAN_BUCKET_NAME = YourDigitalOceanBucketName
