APIKEY=YourAPIKey
APISECRET=YourAPISecret
REDIRECTURL=https://www.google.com/
TOTPKEY=YourTOTPKey
USERID=YourUserID
PASSWORD=YourPassword
STOCKS=stock1,stock2,stock3,...
EMAIL_ADDRESS=YourEmail
EMAIL_PASSWORD=YourEmailPassword_16char_app_password-not_regular_password
TO_EMAIL=YourToEmail
AUTH_CODE=YourAuthCode
AUTH_CODE_TIMESTAMP=YourAuthCodeTimestamp
FILEPATH=filePath_to_store_downloaded_files
