selenium==4.32.0
kiteconnect==5.0.1
pyotp==2.9.0
redis==6.1.0
python-dotenv==1.1.0
pandas==2.2.3
numpy==2.2.5
requests==2.32.3
pytz==2025.2
pyOpenSSL==25.0.0
beautifulsoup4==4.13.4
lxml==5.4.0
cryptography==44.0.3
tzlocal==4.2
playwright==1.39.0

boto3==1.28.56
resend==1.0.0